<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053943643595-at46p3ectdmnhrhgcr1s534s7b4nse3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053943643595-at46p3ectdmnhrhgcr1s534s7b4nse3l</string>
	<key>API_KEY</key>
	<string>AIzaSyC3n6uUNfrxivZJ-i1Jb7R6OkZ97cBk6D8</string>
	<key>GCM_SENDER_ID</key>
	<string>1053943643595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meezResApp</string>
	<key>PROJECT_ID</key>
	<string>brave-dimension-388220</string>
	<key>STORAGE_BUCKET</key>
	<string>brave-dimension-388220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053943643595:ios:7ac3dd952da80cc52fca4e</string>
</dict>
</plist>